.leftHeader {
  flex-basis: 137.2px;
  height: 480px;
  background-color: #5A61ED;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.leftHeader div {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  font: normal 400 49px / 63px 'PT Sans', sans-serif;
  letter-spacing: 0.5px;
  color: white;
  margin-bottom: 21.98px;
  margin-right: 5.7px;
}
