.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: white;
  color: black;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
.close-popup {
  width: 50px;
  padding: 5px;
  background: #5A61ED;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: white;
}
.close-popup:hover {
  background-color: #7177f0;
}
