@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Work+Sans:wght@100;200;300;400&display=swap');

body {
    background-color: #f2f2f2;
    display: flex;
}

.leftHeader {
    flex-basis: 137.2px;
    height: 480px;
    background-color: #5A61ED;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    div {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-orientation: mixed;
        font: normal 400 49px /63px 'PT Sans', sans-serif;
        letter-spacing: 0.5px;
        color: white;
        margin-bottom: 21.98px;
        margin-right: 5.7px;
    }
}

.signUpBlock {
    box-sizing: border-box;
    padding-left: 21px;
    flex-basis: 527.8px;
    height: 480px;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;

    h1 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.46px;
        margin: 38.52px 0 0 0;
    }

    h2 {
        font-weight: 300;
        font-size: 14px;
        margin: 0 0 16px 0; 
    }

    .signUpForm {
        display: flex;
        flex-wrap: wrap;
        div {
            margin-bottom: 10.3px;
            margin-right: 15.3px;
        }
        .signUpForm__label {
            font-size: 12px;
            line-height: 14px;
            color: #7C7C7C;
        }
        .signUpForm__input {
            background: none;
            border-width: 0 0 0.7px 0;
            border-color: #F2F2F2;
            font-size: 14px;
            line-height: 16px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            outline: none;
            padding: 4.5px 0 6.3px 0;
            width: 234.5px;
        }
        .nationality {
            padding-bottom: 4.5px;
        }
        .dateDay {
            width: 56px;
            margin-right: 4.8px; 
        }
        .dateMonth {
            width: 91px;
            margin-right: 4.8px;
        }

        .dateYear {
            width: 67.67px;
        }

        .signUpForm__radio label {
            font-size: 14px;
            line-height: 16px;
        }
    }
}