@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Work+Sans:wght@100;200;300;400&display=swap');

body {
    margin: 0;
}
.page {
    background-color: #f2f2f2;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftHeader {
    flex-basis: 137.2px;
    height: 480px;
    background-color: #5A61ED;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    div {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-orientation: mixed;
        font: normal 400 49px /63px 'PT Sans', sans-serif;
        letter-spacing: 0.5px;
        color: white;
        margin-bottom: 21.98px;
        margin-right: 5.7px;
    }
}

.signUpBlock {
    box-sizing: border-box;
    padding-left: 21px;
    flex-basis: 527.8px;
    height: 480px;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;

    h1 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.46px;
        margin: 38.52px 0 0 0;
    }

    h2 {
        font-weight: 300;
        font-size: 14px;
        margin: 0 0 16px 0; 
    }

    .signUpForm {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 382px;
        div {
            margin-bottom: 10.3px;
            margin-right: 15.3px;
            max-height: min-content;
        }
        .signUpForm__label {
            font-size: 12px;
            line-height: 14px;
            color: #7C7C7C;
        }
        .signUpForm__input {
            background: none;
            border-width: 0 0 0.7px 0;
            border-color: #F2F2F2;
            font-size: 14px;
            line-height: 16px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            outline: none;
            padding: 4.5px 0 6.3px 0;
            width: 234.5px;
        }
        .inputError {
            border-color: #FF2222;
            border-width: 0 0 2px 0;
            color: #FF2222;
        }
        .nationality {
            padding-bottom: 4.5px;
        }
        .dateDay {
            width: 56px;
            margin-right: 4.8px; 
        }
        .dateMonth {
            width: 91px;
            margin-right: 4.8px;
        }

        .dateYear {
            width: 67.67px;
        }

        .signUpForm__radio {
            label {
                font-size: 14px;
                line-height: 16px;
                cursor: pointer;
                display: inline-block;
                position: relative;
                padding-left: 18px;
                margin-right: 15px;
                margin-top: 4px;
                margin-left: -1.5px;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    height: 12px;
                    width: 12px;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 0.7px solid #5A61ED;
                }

                &:hover input ~ .checkmark {
                    background-color: #f2f2f2;
                }

                input:checked ~ .checkmark {
                    background-color: #FFF;
                }

                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 3px;
	                left: 3px;
	                width: 6px;
	                height: 6px;
	                border-radius: 50%;
	                background: #5A61ED;
                }

                input:checked ~ .checkmark:after {
                    display: block;
                }
            }
        }

        .signUpForm__button {
            width: 154px;
            height: 32px;
            border: none;
            background: #5A61ED;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            font-family: 'PT Sans';
            font-style: normal;
            margin-top: 88px;
            margin-left: 184px;
            cursor: pointer;

            &:hover {
                background: lighten(#5A61ED, 5%);
            }
        }

        p {
            font-size: 13px;
            line-height: 15px;
            margin-top: 94px;
            letter-spacing: -0.25px;
        }
        
        .errorMessage {
            font-size: 11px;
            font-family: 'Work Sans', sans-serif;
            color: #FF2222;
            position: absolute;
            display: block;
            width: 234.5px;
            padding-top: 2px;
        }

        background: url(../img/pict.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

@media (max-width: 660px) {
    .page {
        flex-direction: column;
        justify-content: flex-start;
    }

    .leftHeader {
        flex-basis: auto;
        height: auto;
        width: 100%;
        background-color: #5A61ED;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            writing-mode: horizontal-tb;
            transform: none;
            text-orientation: mixed;
            font: normal 400 49px /63px 'PT Sans', sans-serif;
            letter-spacing: 0.5px;
            color: white;
            margin: 0;
            padding: 15px 0 15px 0;
        }
    }

    .signUpBlock {
        height: auto;
        .signUpForm {
            height: auto;
            .signUpForm__button {
                margin: 0;
                margin-right: 15px;
                margin-bottom: 15px;
            }
            p {
                margin: 0;
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }
}